#chat-window
    #msg-window
        ul#messages
    #msg-input
        form#msg-field(action="")
            p#typing: .form-group.no-margin
                .input-group
                    input#m(type="text" autocomplete="off" placeholder="...").form-control
                    span.input-group-btn: button(type="submit").btn.btn-secondary Send
