#chat-window
    #msg-window
        ul#messages
    #msg-input
        form#msg-field(action="")
            p#typing
            //label ...
            input#m(type="text" autocomplete="off" placeholder="...").chat-input