extends layout

block content
    if user
        ul#messages
        form#msg-field(action="")
            .form-group
                .input-group
                    input#m(type="text" autocomplete="off" placeholder="...").form-control
                    span.input-group-btn
                        button(type="submit").btn.btn-secondary Send
    else
        div.jumbotron
            h1 Chat App
            p
                a(href="/signin" role="button").btn.btn-primary.btn-lg Sign in!
                    span.glyphicon.glyphicon-user
  
    script(src="/socket.io/socket.io.js").
    script(src="http://code.jquery.com/jquery-1.11.1.js").
    script.
        var socket = io();
        $('#msg-field').on('submit', function() {
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });

        socket.on('chat message', function(msg) {
            $('#messages').append($('<li>').text(msg));
        });