doctype html
html
  head
    title Chat App
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    .container-fluid
        nav(role="navigation").navbar.navbar-default
            .container-fluid
                .navbar-header
                    button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1").navbar-toggle
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    if user
                        ul.nav.navbar-nav
                            li
                                p.navbar-text
                                    img(src=user.avatar width="20px" height="20px")
                                    = user.username
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="/logout") Log Out
                    else
                        ul.nav.navbar-nav
                            li
                                a(href="/signin") Sign In
            
        block content
        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
